.navigationbar{
    width:100%;
    /* margin-top: 0%; */
    /* top: 0; */
    /* overflow: hidden; */
    height: 70px;
    background-color: rgb(4, 9, 40);
    color: rgb(162, 166, 162);
    padding-left: 20px;
    padding-right: 20px;
    
}

/* 
.navbar-nav li a{
    background-color: aliceblue;
    color: black;
} */

.nav-item a{
    color: white;
}

.btn-nav {
    width: 8rem !important;
}